.about-section {
    position: relative;
    top: 1rem;
}

.skills-section {
    position: relative;
    bottom: 11rem;
}

.about-footer {
    position: relative;
    bottom: 9rem;
}

@media (max-width: 992px) {

    .skills-section {
        bottom: 3rem;
    }

    .about-footer{
        bottom: 2rem;
    }

}