$background-color: rgba(255, 255, 255, 0.51);
$blur: blur(5px);
$radius: 40px;

.swiper-pagination {
    margin-top: 40px;
    position: relative;
}

.swiper-pagination-bullet {
    background-color: #000 !important;
    opacity: 1;
    width: 15px;
    height: 15px;
}

.swiper-pagination-bullet-active {
    background-color: #FEE9C6 !important;
    border: 3px solid #000;
}

.all-certificates-container {
    padding: 0px 12px;
    position: relative;
    top: 1rem;
}

.all-certificates-content {
    position: relative;
    bottom: 5.5rem;
    padding-top: 5rem !important;
    z-index: -1;
    background-color: $background-color;
    backdrop-filter: $blur;
    border-radius: $radius;
    box-sizing: border-box;

    .swiper-wrapper {
        display: flex;
        align-items: center;  /* center vertically */
    }

    .swiper-slide {
        width: auto !important; /* allow width to fit image */
        display: flex;
        justify-content: center;
    }

    .all-certificate-card {
        border: 5px solid black;
        border-width: 0px 5px 5px 0px;
        border-radius: 0px 25px 25px 25px;
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30rem;   /* set max height for certificates */
    }

    .certificate-img {
        height: 100%;
        width: auto;
        object-fit: contain;
        display: block;
        transition: transform 0.35s ease-in-out;
        transform-origin: center center;
        
    }
}

.certificates-footer {
    position: relative;
    bottom: 11rem;
}



@media (max-width: 992px) {
    .all-certificates-content {
        padding-top: 4rem !important;
        bottom: 5rem;

        .all-certificate-card {
            height: 27.5rem;
            padding: 1rem !important;
        }
    }

    .certificates-footer {
        bottom: 7rem;
    }
}

@media (max-width: 768px) {
    .swiper-pagination {
        margin-top: 30px;
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }

    .all-certificates-content {
        padding-top: 3rem !important;
        bottom: 4.5rem;

}
}

@media (max-width: 650px) {
  /* target the third real slide */
  .swiper-slide.slide-3:not(.swiper-slide-duplicate) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide.slide-3:not(.swiper-slide-duplicate) .all-certificate-card {
    transform: rotate(-90deg);
    border-width: 0px 0px 5px 5px;
    border-radius: 25px 25px 25px 25px;
    width: auto;
    height: 20rem; 
  }

  /* make sure image fits inside rotated card */
  .swiper-slide.slide-3:not(.swiper-slide-duplicate) {
    width: 100%;
    height: 15rem;
    object-fit: contain;
  }
}

@media (max-width: 576px) {
    .all-certificates-content {
        bottom: 4.3rem;

        .all-certificate-card {
        border-width: 0px 4px 4px 0px !important; 

    }
    }

    .certificates-footer {
        bottom: 7rem;
    }
}