$background-color: rgba(255, 255, 255, 0.51);
$blur: blur(5px);
$radius: 40px;

.h-20 {
    height: 20% !important;
}

.swiper-pagination {
    margin-top: 40px;
    position: relative;
}

.swiper-pagination-bullet {
    background-color: #000 !important;
    opacity: 1;
    width: 15px;
    height: 15px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #FEE9C6 !important;
    border: 3px solid #000;
}

.all-projects-container {
    padding: 0px 12px;
    position: relative;
    top: 1rem;
}

.all-projects-content {
    position: relative;
    bottom: 5.5rem;
    padding-top: 5rem !important;
    z-index: -1;
    background-color: $background-color;
    backdrop-filter: $blur;
    border-radius: $radius;
    box-sizing: border-box;

    .swiper-wrapper {
        display: flex;
        align-items: stretch;
    }

    .swiper-slide {
        display: flex;
        height: auto;
    }

    .all-project-card {
        border-style: solid;
        border-color: black;
        border-width: 0px 5px 5px 0px;
        border-radius: 0px 25px 25px 25px;
        align-items: stretch;
        flex: 1;

        .top-container {
            min-height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: start;
        }

    }

    .all-project-card p.flex-grow-1 {
        flex-grow: 1;
    }
    

}

@media (max-width: 992px) {

    .all-projects-content {
        padding-top: 5rem !important;
        bottom: 5rem;
    }
}

@media (max-width: 768px) {
    .all-projects-content {
        padding-top: 3rem !important;
    }

    .explore {
        a {
            box-shadow: 4px -4px 0px black, -4px 4px 0px black !important;
        }
    }

    .swiper-pagination {
    margin-top: 30px;
    position: relative;
}


    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 576px) {
    .all-projects-content {
        bottom: 4.5rem;
    }
}