$background-color: rgba(255, 255, 255, 0.51);
$blur: blur(5px);
$radius: 40px;


.education-container {
    padding: 0px 12px;
    position: relative;
    top: 1rem;
}

.education-content {
    padding-top: 6rem !important;
    position: relative;
    bottom: 3.5rem;
    z-index: -1;
    background-color: $background-color;
    backdrop-filter: $blur;
    border-radius: $radius;
    box-sizing: border-box;

    .border {
        border-style: solid !important;
        border-color: black !important;
        border-width: 0px 5px 5px 0px !important;
        border-radius: 0px 25px 25px 25px !important;

        display: grid;
        grid-template-columns: 50% auto;
        justify-content: space-between;
        grid-template-areas:
            "levels names"
            "year board";

        .level {
            grid-area: levels;
            width: fit-content;
        }

        .year {
            grid-area: year;
            width: fit-content;
        }

        .name {
            grid-area: names;
            width: fit-content;
        }

        .board {
            grid-area: board;
            width: fit-content;
        }

        p {
            width: fit-content;
        }

        .number {
            width: fit-content;
        }
    }



    // div{
    //     justify-content: space-between;

    // }
}

@media (max-width: 992px) {
    .education-container {
        position: relative;
        top: 2rem !important;

        .education-content {
            padding-top: 5rem !important;
            bottom: 2.5rem;
        }

        .border {
            grid-template-columns: 50% auto;
            grid-template-areas:
                "levels year"
                "names board";
                
            .number {
                font-size: 1.2rem !important;
            }

            .responsive-text {
                font-size: 1.2rem !important;
            }

            .board{
                justify-self: end;
            }
        }
    }
}

@media (max-width: 768px) {
    .education-container {
        .education-content {
            padding-top: 4rem !important;
        }
    }
}

@media (max-width: 576px) {

    .education-container {
        .education-content {
            bottom: 2rem;
        }

        .border {
            grid-template-columns: auto auto !important;
            grid-template-areas:
                "levels levels"
                "year year"
                "names board";


            p {
                text-align: center;

            }

            .number {
                font-size: 1.1rem !important;
            }

            .responsive-text {
                font-size: 1rem !important;
            }

            .level{
                justify-self: center;
            }

            .board
             {
                justify-self: end;
                width: max-content;
            }

            .name{
                width: max-content;
            }

            .year{
                justify-self: center;
            }
        }
    }
}

// @media (max-width: 576px){
//     .education-content{
//         bottom: 2rem;
//     }

//     .left-container {
//         p{
//             font-size: 1.4rem !important;
//         }

//         .number{
//             font-size: 1.2rem !important;
//         }
//     }

//     .right-container{
//         .board{
//         }
//     }

//     .responsive-text {
//         font-size: 1.1rem !important;
//     }

// }

// @media (max-width: 992px) {
//     .education-container{
//         position: relative;
//         top: 2rem !important;
//     }

//     .education-content{
//         padding-top: 5rem !important;
//         bottom: 2.5rem;
//     }

//     .left-container {
//         p{
//             font-size: 1.8rem !important;
//         }

//         .number{
//             font-size: 1.6rem !important;
//             text-align: end;
//         }
//     }

//     .right-container{
//         .board{
//             text-align: end;
//         }
//     }

//     .responsive-text {
//         font-size: 1.5rem !important;
//     }
// }

@media (max-width: 768px) {
    .education-content {
        padding-top: 4rem !important;
    }
}


// }