$background-color: #FEE9C6;

.pt-lg-6 {
    padding-top: 6rem !important;
}

.footer-container {
    background-color: $background-color;
    position: relative;
    top: 12rem;

    .footer-content {
        .top-container {
            display: grid;
            justify-content: space-between;
            grid-template-areas:
                "names link contact";

            .name {
                grid-area: names;

            }

            .links {
                grid-area: link;
            }

            .contact {
                grid-area: contact;
                width: fit-content;
                justify-self: end;
            }
        }

        .bottom-container {
            text-align: center;
        }
    }
}

@media (max-width: 992px) {
    .footer-container {
        top: 8rem;

        .top-container {
            grid-template-areas:
                "names link"
                "names contact" !important;

            .name {
                display: flex;
                flex-direction: column;
                justify-content: center;


            }
        }
    }
}


@media (max-width: 576px) {
    .footer-container {
        top: 6rem;

        .top-container {
            grid-template-areas:
                "names"
                "contact"
                "link" !important;

            .name,
            .links,
            .contact {

                h1,
                h3,
                p,
                a {
                    display: flex;
                    justify-content: left;
                    text-align: left;
                }

                h1 {
                    text-align-last: initial;
                }
            }

            .contact{
                justify-self: start !important;
            }

            .name {
                h3 {
                    font-size: 1.75rem !important; // smaller than h1 in desktop
                }
                h1 {
                    font-size: 2.5rem !important; // adjust as needed
                }
            }

        //     .links {
        //         h3 {
        //             font-size: 2rem !important;
        //         }
        //         .link a {
        //             font-size: 1.5rem !important; // smaller links
        //         }
        //     }

        //     .contact {
        //         h3 {
        //             font-size: 2rem !important;
        //         }
        //         a {
        //             font-size: 1.5rem !important;
        //         }

        //         .number{
        //             font-size: 1.4rem !important;
        //         }
            
        // }

        //     .contact {
        //         width: initial !important;
        //         justify-self: initial !important;
        //     }

        }

        // .bottom-container {
        //     p {
        //         font-size: 1.2rem !important;
        //     }

        //     .number{
        //         font-size: 1.2rem !important;
        //     }
        // }
    }
}