$background-color: #FEE9C6;

.pt-lg-6 {
    padding-top: 3rem !important;
}

.pb-0 {
    padding-bottom: 0% !important;
}

.footer-container {
    background-color: $background-color;
    position: relative;
    top: 12rem;

    .footer-content {
        .top-container {
            display: grid;
            justify-content: space-between;
            grid-template-areas:
                "names link contact";

            .name {
                grid-area: names;

            }

            .links {
                grid-area: link;

            }

            .contact {
                grid-area: contact;
                width: fit-content;
                justify-self: end;
            }
        }

        .bottom-container {
            text-align: center;
        }
    }
}

@media (max-width: 992px) {
    .footer-container {
        top: 8rem;

        .top-container {
            grid-template-areas:
                "names link"
                "names contact" !important;

            .name {
                display: flex;
                flex-direction: column;
                justify-content: center;


            }
        }
    }
}


@media (max-width: 576px) {
    .footer-container {
        top: 8rem;

        .top-container {
            grid-template-areas:
                "names"
                "contact"
                "link" !important;

            .name,
            .links,
            .contact {

                h1,
                h3,
                p,
                a {
                    display: flex;
                    justify-content: left;
                    text-align: left;
                }

                h1 {
                    text-align-last: initial;
                }
            }

            .contact {
                justify-self: start !important;
            }

            .name {
                h3 {
                    font-size: 1.75rem !important;
                }

                h1 {
                    font-size: 2.5rem !important;
                }
            }

        }


    }
}