$background-color: rgba(255, 255, 255, 0.51);
$blur: blur(5px);
$radius: 40px;

.intro-container {
    background-color: $background-color;
    backdrop-filter: $blur;
    border-radius: $radius;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 30% 450px 30%;
    grid-template-areas: 
        "hello images ."
        "names images welcome"
        "links images description";

    .hello{
        grid-area: hello;
    }

    .name{
        grid-area: names;
    }
    
    .links{
        grid-area: links;
    }

    .image{
        grid-area: images;
        position: relative;
        
        img{
            width: 93%;
            height: auto;
            position: absolute;
        }
    }

    .welcome{
        grid-area: welcome;
    }

    .description{
        grid-area: description;
    }
}