.rgb-page {

  .menu {
    p {
      text-align: center;
      color: #222222;
    }

    #result {
      color: #FFF2E0
    }
  }

  .container {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;               
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    gap:3rem 
  }

  #box1,
  #box2,
  #box3 {
    height: 18rem;
    aspect-ratio: 1 / 1;         
    border-radius: 15px;
    box-shadow: 5px -5px 0px black, -5px 5px 0px black;
    display: flex;
    justify-content: center;       
    align-items: center;           
  }

  #first,
  #second,
  #third {
    display: none;              
  }

  .option {
    margin-bottom: 0%;
  }

  .play-button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  button {
    font-size: 21px;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 5px -5px 0px black, -5px 5px 0px black;
    background-color: white;

    &:hover {
      background-color: #f6eca9;
    }
  }
}

@media (max-width: 992px){
  .container {
    width: 90%;
  }
}

/* responsive */
@media (max-width: 768px) {
  .rgb-page {

    .container {
      flex-direction: column;   
      align-items: center;
      gap: 2rem;
    }

    #box1,
    #box2,
    #box3 {
      width: 90%;
      height: auto;
      aspect-ratio: initial;
      margin-bottom: 20px;
      box-shadow: 4px -4px 0px black, -4px 4px 0px black !important;
    }

    button {
        box-shadow: 4px -4px 0px black, -4px 4px 0px black !important;
      }
  }
}
